.window {
    -fx-background-color: #8C6643;
}

.window_background {
    -fx-background-image: url("/background.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.5;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 12px;
}

.context-menu {
    -fx-padding: 16px 0px 16px 0px;
    -fx-background-radius: 4px;
    -fx-background-color: #693F10;
    -fx-background-image: url("/menu_background.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 94% 95%;
}

.menu-item {

    -fx-font-size: 16px;
        -fx-graphic-text-gap: 12px;
}

.menu-item .label {
    -fx-text-fill: #E8CAA9;
    -fx-padding: 0px 32px 0px 12px;
}

.menu-item:focused {
    -fx-background-color: rgba(0, 0, 0, 0.24);
}

.icon-menu {
    -fx-shape: "M35 19C35 10.1634 27.8366 3 19 3C10.1634 3 3 10.1634 3 19C3 27.8366 10.1634 35 19 35V38C8.50659 38 0 29.4934 0 19C0 8.50659 8.50659 0 19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38V35C27.8366 35 35 27.8366 35 19ZM15 25V23H13C11.8954 23 11 23.8954 11 25C11 26.1046 11.8954 27 13 27V30C10.2386 30 8 27.7614 8 25C8 22.2386 10.2386 20 13 20H18V25C18 27.7614 15.7614 30 13 30V27C14.1046 27 15 26.1046 15 25ZM27 25C27 23.8954 26.1046 23 25 23H23V25C23 26.1046 23.8954 27 25 27V30C22.2386 30 20 27.7614 20 25V20H25C27.7614 20 30 22.2386 30 25C30 27.7614 27.7614 30 25 30V27C26.1046 27 27 26.1046 27 25ZM15 13C15 11.8954 14.1046 11 13 11C11.8954 11 11 11.8954 11 13C11 14.1046 11.8954 15 13 15H15V13ZM27 13C27 11.8954 26.1046 11 25 11C23.8954 11 23 11.8954 23 13V15H25C26.1046 15 27 14.1046 27 13ZM18 18H13C10.2386 18 8 15.7614 8 13C8 10.2386 10.2386 8 13 8C15.7614 8 18 10.2386 18 13V18ZM30 13C30 15.7614 27.7614 18 25 18H20V13C20 10.2386 22.2386 8 25 8C27.7614 8 30 10.2386 30 13Z"
}

.icon-record {
    -fx-shape: "M19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38C8.50659 38 0 29.4934 0 19C0 8.50659 8.50659 0 19 0ZM19 3C10.1634 3 3 10.1634 3 19C3 27.8366 10.1634 35 19 35C27.8366 35 35 27.8366 35 19C35 10.1634 27.8366 3 19 3Z M12.0005 8.00028L12.1538 8.00809C12.91 8.08512 13.5005 8.72379 13.5005 9.50028C13.5003 10.3284 12.8286 11 12.0005 11.0003C11.4487 11.0006 11.0008 11.4475 11.0005 11.9993V26.9993C11.0005 27.5514 11.4475 27.9999 11.9995 28.0003H26.0005C26.5524 28 27.0002 27.5522 27.0005 27.0003V12.0003C27.0004 11.4482 26.5525 11.0005 26.0005 11.0003H25.9976C25.1693 11.0002 24.4977 10.3285 24.4976 9.50028C24.4976 8.67192 25.1692 8.00038 25.9976 8.00028L27.0005 7.9993C28.6569 7.99957 30.0001 9.3429 30.0005 10.9993V27.9993C30.0005 29.6562 28.6564 31.0003 26.9995 31.0003H10.9995C9.34311 30.9999 7.99978 29.6567 7.99951 28.0003V11.0003C7.99959 9.34354 9.34375 7.99938 11.0005 7.9993L12.0005 8.00028Z M14 9C14 7.89543 14.8954 7 16 7H22C23.1046 7 24 7.89543 24 9C24 10.1046 23.1046 11 22 11H16C14.8954 11 14 10.1046 14 9Z M13 24.5C13 23.6716 13.6716 23 14.5 23H23.5C24.3284 23 25 23.6716 25 24.5C25 25.3284 24.3284 26 23.5 26H14.5C13.6716 26 13 25.3284 13 24.5Z M13 19.5C13 18.6716 13.6716 18 14.5 18H20.5C21.3284 18 22 18.6716 22 19.5C22 20.3284 21.3284 21 20.5 21H14.5C13.6716 21 13 20.3284 13 19.5Z M13 14.5C13 13.6716 13.6716 13 14.5 13H17.5C18.3284 13 19 13.6716 19 14.5C19 15.3284 18.3284 16 17.5 16H14.5C13.6716 16 13 15.3284 13 14.5Z"
}

.icon-retract {
    -fx-shape: "M35 19C35 10.1634 27.8366 3 19 3C10.1634 3 3 10.1634 3 19C3 27.8366 10.1634 35 19 35V38C8.50659 38 0 29.4934 0 19C0 8.50659 8.50659 0 19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38V35C27.8366 35 35 27.8366 35 19ZM17.877 12.8564C25.5407 12.8568 31.7536 19.0697 31.7539 26.7334C31.7539 26.9048 31.7484 27.0762 31.7422 27.2461C29.1999 24.05 25.2782 22.0001 20.877 22C19.8469 22 18.843 22.1123 17.877 22.3252V27.4277L4 17.7139L17.877 8V12.8564ZM9.23145 17.7139L14.877 21.665V19.9141L17.2314 19.3955C18.408 19.1362 19.6284 19 20.877 19L21.377 19.0068C23.1105 19.0574 24.7778 19.3718 26.3418 19.9072C24.3479 17.4378 21.2978 15.8566 17.877 15.8564H14.877V13.7617L9.23145 17.7139Z";
}

.icon-tips {
    -fx-shape: "M19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38C8.50659 38 0 29.4934 0 19C0 8.50659 8.50659 0 19 0ZM19 3C10.1634 3 3 10.1634 3 19C3 27.8366 10.1634 35 19 35C27.8366 35 35 27.8366 35 19C35 10.1634 27.8366 3 19 3Z M22 31C22.5523 31 23 31.4477 23 32C23 32.5523 22.5523 33 22 33H16C15.4477 33 15 32.5523 15 32C15 31.4477 15.4477 31 16 31H22Z M19 10C22.0199 10.0002 24.5175 12.2318 24.9365 15.1357C24.9761 15.2434 25 15.3651 25 15.5C25 15.5515 24.9945 15.601 24.9883 15.6484C24.9886 15.6541 24.9899 15.6603 24.9902 15.666H24.9863C24.9038 16.2214 24.4136 16.4998 24 16.5C23.5864 16.4999 23.0963 16.2213 23.0137 15.666H22.9844C22.8201 13.6808 21.2074 12.1063 19.2051 12.0049L18.999 11.999C18.3333 11.9986 18.0002 11.4529 18 11C18.0002 10.5471 18.3342 10.0004 19 10Z M19 5C25.0751 5 30 9.92487 30 16C30 19.8607 28.0091 23.2539 25 25.2168V27.999C25 29.1036 24.1046 30 23 30H15C13.8956 30 13.0003 29.1043 13 28V25.2168C9.99088 23.2539 8 19.8607 8 16C8 9.92487 12.9249 5 19 5ZM15 28H23V26H15V28ZM19 8C14.5817 8 11 11.5817 11 16C11 19.0136 12.6672 21.6362 15.1289 23H22.8711C25.3328 21.6362 27 19.0137 27 16C27 11.5817 23.4183 8 19 8Z"
}

.footer .icon {
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-background-color: #F6C084;
    -fx-effect: innershadow(three-pass-box, #381E09, 2, 0, 0, 1);
}

.footer .button {
    -fx-content-display: top;
    -fx-background-color: transparent;
    -fx-text-fill: rgba(246, 192, 132, 0.7);
}
